// Colors
$c-white: #fff;
$c-navy-l:#3C5A92;
$c-navy: #3B4163;
$c-blue: #4D69FA;
$c-green-l: #8AC657;
$c-green: #4EA06A;
$c-charcoal: #53555D;
$c-beige: #FECE8A;
$c-gray: #F5F5F5;
$c-orange: #FFBA00;
$c-red: #ec3d30;